{% extends 'base.html.twig' %}

{% block title %}
	<title>ABZ Properties - Home Page</title>
{% endblock %}

{% block bodymain %}

		<!-- Begin Main -->
		<div role="main" class="main">
			<!-- Begin Main Slide -->
			<section class="main-slide">
				<div id="owl-main-slide" class="owl-carousel pgl-main-slide" data-plugin-options='{"autoPlay": false}'>

                    
					<div class="item" id="item1"><img src="{{ asset('images/slides/sliderC1.jpg') }}" alt="Photo" class="img-responsive">
						<div class="item-caption">
							<div class="container">
								<div class="property-info">
									<span class="property-thumb-info-label">
										<span class="label price">Builders With Distinction</span>
										<span class="label"><a href="{{ path('property_projects', {'type': 'ongoing'}) }}" class="btn-more">Pledges a Comfortable and Secure Living</a></span>
									</span>
									<div class="property-thumb-info-content">
										<h2><a href="{{ path('property_projects', {'type': 'ongoing'}) }}">Welcome to ABZ Properties Ltd.</a></h2>
										<p>Whether you are a first time  home buyer or  a seasoned veterian, the selection of right asset  stands there as one of the most exciting, yet potentially stressful   experiences in life .To achieve optimal results, aligning oneself with the competent property hub is a must.

<br><br><strong>ABZ Properties Ltd</strong>, a builder with distinction always strives to provide its stakeholders with the best returns of their investment. Whatever you invest here - the land or cash - yours investment will always be back with premium added value. 

<br><br>Feel safe at ABZPL and step into our world with full confidence.

</p>
									</div>
								</div>
							</div>
						</div>
					</div>
                    

				</div>
			</section>
			<!-- End Main Slide -->



			<!-- Begin Featured -->
			<section class="pgl-featured pgl-bg-grey">
				<div class="container">
					<div class="row">
                        {% for featured in featured_projects %}

						{% if loop.index == 1 %}
						<div class="col-md-6 animation">
						{% else %}
						<div class="col-xs-6 col-md-3 animation">
						{% endif %}
							<div class="pgl-property featured-item">
								<div class="property-thumb-info">
									<div class="property-thumb-info-image">
										<img alt="" class="img-responsive" src="{{ asset('images/properties/') }}{{ featured.thumb }}">
									</div>
									<div class="property-thumb-info-content">
										<h3><a href="{{ path('property_details', {'id': featured.id}) }}">{{ featured.location }}</a></h3>
										<p>{{ featured.additionalDetails }}</p>
									</div>
								</div>
							</div>
						</div>


                        {% endfor %}
					</div>
					<hr class="top-tall">
				</div>
			</section>
			<!-- End Featured -->

			



			<!-- Begin About -->
			<section class="pgl-about">
				<div class="container">
					<div class="row">
						<div class="col-md-4 animation about-item">
							<h2>Who We Are</h2>
							<p><img src="{{ asset('images/content/demo-1.jpg') }}" alt="" class="img-responsive"></p>
							<p>Quality maters, commitment matters, Services and care matters in the field of Real Estate business. 
                                                            Taking the quality, commitment, care and service of customers in consideration; ABZ Properties Ltd. took birth in February, 2008 
                                                            at its registered office of D.O.H.S. Mohakhali. A group of professionals have extended their hands to fulfill the commitment of ABZPL.</p>
							
						</div>
						<div class="col-md-4 animation about-item">
							<h2>Why Choose Us</h2>
							<div class="panel-group" id="accordion">
								<div class="panel panel-default pgl-panel">
									<div class="panel-heading">
										<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Aim to Comfort and Secured Living</a> </h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in">
										<div class="panel-body">
											<p>From its beginning, this institution has been able to earn the confidence of Land-owners and Buyers 
                                                                                        which in hte follow through eased to commence several projects in Dhaka city. 
                                                                                        The harmony of unique concept of design, selection of the technical men are grooming the strength of the Company.
                                                                                        Our intention to make "Clients feel about a home of quality where dream comes true."</p>
										</div>
									</div>
								</div>
                                                                <div class="panel panel-default pgl-panel">
									<div class="panel-heading">
										<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">Mission</a> </h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body"> <p>To retain its position as one of the leading construction houses by continuously innovating and constructing quality eco- friendly structures.</p> </div>
									</div>
								</div>
                                                                <div class="panel panel-default pgl-panel">
									<div class="panel-heading">
										<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">Vission</a> </h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body"> <p>To deliver high value and good quantity construction coupled with aesthetic beauty. Qualified professional and self-directed teamwork towards evaluating customer satisfaction levels are the competitive edge of our Enterprise.</p> </div>
									</div>
								</div>
                                                                <div class="panel panel-default pgl-panel">
									<div class="panel-heading">
										<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="collapsed">Values</a> </h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body"> <p>At ABZPL every customer is valued and every effort is directed to deliver beyond all expectations. Fulfilling promises, providing affordable housing solutions, delivering honest result and transparency have always been the company’s prime strengths.</p> </div>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-4 animation about-item">
                                                    <h2>Our Strength</h2>
							<p><img src="{{ asset('images/content/demo-2.jpg') }}" alt="" class="img-responsive"></p>
							<p>SKILLED PROFESSIONALS</p>
                                                        <p>QUALITY & SERVICE COMMITMENTS</p>
                                                        <p>EFFECTIVE MANAGEMENT</p>
{#							<h2>Our Directors</h2>#}
							{#<div class="owl-carousel pgl-bg-dark pgl-testimonial" data-plugin-options='{"items": 1, "pagination": false, "autoHeight": true}'>
								<div class="col-md-12">
									<div class="testimonial-author">
										<div class="img-thumbnail-small img-circle">
											<img src="{{ asset('images/agents/agent-1.jpg') }}" class="img-circle" alt="Engr. Ahsan Z. Talukder">
										</div>
										<h4>Engr. Ahsan Z. Talukder</h4>
										<p><strong>Managing Director</strong></p>
									</div>
									<div class="divider-quote-sign"><span>“</span></div>
									<blockquote class="testimonial">
										<p>Engr. Ahsan Z. Talukder has been graduated from BUET, Civil Engineering. 
                                                                                    He is also one of few executors of very modern Top-Down basement construction methods in Dhaka City</p>
									</blockquote>
								</div>
								<div class="col-md-12">
									<div class="testimonial-author">
										<div class="img-thumbnail-small img-circle">
											<img src="{{ asset('images/agents/agent-2.jpg') }}" class="img-circle" alt="Wing Commander (Retd) M Benzir Ali Moghul">
										</div>
										<h4>Wing Commander (Retd) M Benzir Ali Moghul</h4>
										<p><strong>Chairman</strong></p>
									</div>
									<div class="divider-quote-sign"><span>“</span></div>
									<blockquote class="testimonial">
										<p>Wing Commander (Retd) M Benzir Ali Moghul Psc, MDS, MBA served Air Force having 27 years of people management experience.</p>
									</blockquote>
								</div>
                                                                
							</div>#}
						</div>
					</div>
				</div>
			</section>
			<!-- End About -->

		</div>
		<!-- End Main -->
{% endblock %}
