{% extends 'base.html.twig' %}
    {% block title %}
		<title>ABZ Properties - Admin Home</title>
    {% endblock %}

{% block bodymain %}

		<!-- Begin Main -->
		<div role="main" class="main pgl-bg-grey">
			


			<!-- Begin Properties -->
			<section class="pgl-properties pgl-bg-grey">
				<div class="container">
					<h2>Project Listing</h2>
                                        
					<div class="properties-full properties-listing properties-listfull">
                                            <div class="row">
                                                <div class="col-sm-12 text-right post-content">
                                                    <h3>
                                                        <i class="fa fa-sliders"></i><a class=""  href="{{ path('create-slides') }}">Add Slides</a>
                                                        <i style="margin-left: 15px;" class="fa fa-image"></i><a class=""  href="{{ path('create-images') }}">Add Images</a>
                                                        <i style="margin-left: 15px;" class="fa fa-pencil"></i><a class=""  href="{{ path('create-project') }}">Add Project</a>
                                                    </h3>
                                                </div>
                                            </div>

                        {% for property in properties %}
						<div class="pgl-property animation">
							<div class="row">
								<div class="col-sm-6 col-md-4">
									<div class="property-thumb-info-image">
										<a href="{{ path('property_details', {'id': property.id}) }}">
										<img alt="" class="img-responsive" src="{{ asset( 'images/properties/') }}{{ property.thumb }}">
										</a>
										<span class="property-thumb-info-label">
											<span class="label price">{{ property.thumb_info | default("")  }}</span>
										</span>
									</div>
								</div>
								<div class="col-sm-6 col-md-8">
									<div class="property-thumb-info">

										<div class="property-thumb-info-content">
											<h3><a href="{{ path('property_details', {'id': property.id}) }}">{{ property.title }}</a></h3>
											<address>{{ property.location }}</address>
											<p>{{ property.description }}</p>
										</div>
										<div class="amenities clearfix">
											<ul class="pull-left">
												<li><strong>Area:</strong> {{ property.area }}</li>
											</ul>
											<ul class="pull-right">
												<li><a class="btn btn-default btn-sm" href="{{ path('edit-project', {'id': property.id}) }}">Edit</a></li>
												<li><a class="btn btn-default btn-sm" href="{{ path('delete-project', {'id': property.id}) }}">Delete</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
                        {% endfor %}

					</div>
				</div>
			</section>
			<!-- End Properties -->

		</div>
		<!-- End Main -->
{% endblock %}