{% extends 'base.html.twig' %}

    {% block title %}
		<title>ABZ Properties - Details</title>
    {% endblock %}

{% block bodymain %}
		
		<!-- Begin Main -->
		<div role="main" class="main pgl-bg-grey">
			<!-- Begin page top -->
			<section class="page-top">
				<div class="container">
					<div class="page-top-in">
						<h2><span>Property Detail</span></h2>
					</div>
				</div>
			</section>
			<!-- End page top -->
			
			<!-- Begin content with sidebar -->
			<div class="container">
				<div class="row">
					<div class="col-md-9 content">
						
						<section class="pgl-pro-detail pgl-bg-light">
							<div id="slider" class="flexslider">
								<ul class="slides">
                                    {% for image in property.propertyImages %}
									<li>
										<img src="{{ asset('images/properties/') }}{{ image.image }}" alt="">
										<span class="property-thumb-info-label">
											<span class="label price">{{ property.title }}</span>
											<span class="label forrent">{{ property.location }}</span>
										</span>
									</li>
                                    {% endfor %}
								</ul>
							</div>
							<div id="carousel" class="flexslider">
								<ul class="slides">
                                    {% for image in property.propertyImages %}
									<li> <img src="{{ asset('images/properties/') }}{{ image.image }}" alt=""></li>
                                    {% endfor %}
								</ul>
							</div>
							<div class="pgl-detail">
								<div class="row">
									<div class="col-sm-4">
										<ul class="list-unstyled amenities amenities-detail">
											<li><strong>Type:</strong> {{ property.type }}</li>
											<li><strong>Area:</strong> {{ property.area }}</li>
											<li><address><i class="icons icon-location"></i> {{ property.location }}</address></li>
											<li><i class="icons icon-bedroom"></i> {{ property.bed }}</li>
											<li><i class="icons icon-bathroom"></i> {{ property.bath }}</li>
										</ul>
									</div>
									<div class="col-sm-8">
										<h2>{{ property.title }}</h2>
										<p>{{ property.description }}</p>
									</div>
								</div>
							
								<div class="tab-detail">
									<h3>More Infomation</h3>
									<div class="panel-group" id="accordion">
										<div class="panel panel-default pgl-panel">
											<div class="panel-heading">
												<h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Additional Details</a> </h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in">
												<div class="panel-body">
													<p>{{ property.additionalDetails }}</p>
												</div>
											</div>
										</div>

										


									</div>
								</div>
							</div>
						</section>
						

						
					</div>
					<div class="col-md-3 sidebar">



					</div>
				</div>	
			</div>
			<!-- End content with sidebar -->
			
		</div>
		<!-- End Main -->
{% endblock %}

